*{
    margin: 0;
    padding: 0;
}

/* font-style */


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header-fast-section */
nav ul li{
    list-style: none;
    margin-top: 20px;
}
ul li a{
    text-decoration: none;
    color: #252432;
}
nav ul {
    display: flex;
    gap: 48px;


}
.logo{
    display: flex;
    justify-content: space-around;
}
.ancho{
    color: #8987A1;
}
/* header-second-section */
.flow{
    color: #E95A08;
}
.banner{
    display: flex;
    margin-left: 400px;
    margin-top: 120px;
    
}
.fresh{
    margin-bottom: 40px;
}

.banner-title{
    font-size: 4.1rem;
    font-weight: bold;
}

.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}

/* main-section */


/* first-main-section */

.plant-section{
    text-align: center;
}

.plant-title{
    font-size: 3.13rem;
    font-weight: bold;
}
.plant-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.38rem;
}

.card{
     display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 49px;
    margin-left: 370px;
    margin-right: 1500px;
}
.plant-card{
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.card-title{
    color: #111111;
    font-size: 1.38rem;
    font-weight: 500;
}
.price{
    font-weight: bold;
    font-size: 1.38rem;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-primary{
    background-color: #E95A08;
    color: white;
    padding: 15px 90px;
    border: none;
}

/* main-second-section */

.badge-section{
    position: relative;
    display: inline-block;
}
.badge{
    position: absolute;
    top: -130px;
    right: -115px;
    width: 286px;
    height: 286px;
    
}
.plant-lover{
    margin-left: 400px;
    margin-top: 200px;
    display: flex;
}

.lover-section{
    margin-left: 100px;
    width: 541px;
    height: 541px;
}
.lover-title{
    font-size: 3.125rem;
    font-weight: bold;
}
.lover{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.68rem;
}

/* main-thaird-section */

.deal-title{
    font-size: 3.40rem;
    font-weight: bold;
}
.deal-des{
    font-size: 1.68rem;
    color: rgba(0, 0, 0, 0.5);
}
.deal-sec{
    text-align: center;
    margin-top: 130px;
}

.blom-card2{
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
  background: var(--image-url) center center;
  background-size: cover;
  color: white;
  width: 367px;
  height: 201px;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 14px;
}
.shop2 a{
    color: white;
    font-weight: 600;
}
.shop2{
     margin-left: 60px;
    margin-top: 20px;
}



.shop1{
    margin-left: 60px;
    margin-top: 20px;
    
}
.shop1 a{
    color: white;
    font-weight: 600;
}
.blom-title{
    font-weight: bold;
    font-size: 1.25rem;
}
.blom-card1{
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
  background: var(--image-url) center center;
  background-size: cover;
  color: white;
  width: 367px;
  height: 201px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 14px;
}

.blom-card3{
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
  background: var(--image-url) center center;
  background-size: cover;
  color: white;
  width: 753px;
  height: 423px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 22px;
}
.blom-title2{
    font-size: 2.5rem;
    font-weight: bold;
}
.shop3 a{
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
}
.shop3{
    margin-left: 120px;
    margin-top: 20px;
}
.image-card{
    display: flex;
    gap: 28px;
    margin-left: 400px;
    margin-top: 120px;
}
.images-card{
    display: flex;
    flex-direction: column;
    gap: 21px;
}
/* main-fourth-section */
.contact-us{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.contact-title{
    font-size: 3.125rem;
    font-weight: bold;
    color: white;
}
.contact input{
    width: 550px;
    padding: 8px 20px 8px 20px;
    margin-left: 20px;
}
.contact .btn-primary{
    padding: 25px 49px 26px 49px;
    height: 69px;
    width: 186px;
    margin-top: 1px;
    font-weight: 600;
    font-size: 1.2rem;
}
.contact-inpu{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* footer-section */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.logo-sec{
    width: 359px;
    height: 178px;
    margin-left: 100px;
}
.footer-des{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.50);
}
.foot-an{
    display: flex;
    list-style: none;
    gap: 110px;
    margin-top: 50px;
}
.foot-an a{
    text-decoration: none;
    color: #6B7280;
}
.foot-anch{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.icon-sec{
    display: flex;
    gap: 24px;
    width: 216px;
    height: 36px;
    margin-top: -140px;
}

/* media-quary */

@media screen and (max-width: 576px) {
    .anch{
        visibility: hidden;
    }
    .anchor{
        display: flex;
        gap: 10px;
        margin-left: 20px;
    }
    .logo-img{
        width: 63px;
        height: 38px;
        margin-left: 20px;
    }
    
    /* header-second-section */
    .banner{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 80px;
        margin-top: 28px;
    }
    .banner-image{
        width: 393px;
        height: 245px;
        margin-left: -5px;
    }
    .banner-title{
        font-size: 1.50rem;
    }
    .banner-description{
        font-size: 14px;
    }
    .fresh{
        margin-left: -40px;
    }

    /* main-section */
    .plant-section{
        margin-left: 20px;
    }
    .card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 30px;
    }
    .plant-card img{
        width: 171px;
        height: 196px;
    }
    .btn-primary{
        padding: 10px 50px;
    }
    /* main-second-section */

    .lover-title{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .lover{
        font-size: 14px;
    }
    .plant-lover{
        display: flex;
        flex-direction: column;
        margin-left: -80px;
        margin-top: 41px;
    }
    .badge{
        margin-right: 150px;
        margin-top: 150px;
        visibility: hidden;

    }
    .store{
        width: 365px;
        height: 396px;
        margin-left: 130px;
    }
    .lover-section{
        width: 361px;
        height: 234px;
    }
    .lover{
        margin-left: 70px;
    }
    .lover-title{
        margin-left: 45px;
    }

    /* main-thaird-section */

   .deal-title{
    font-size: 1.50rem;
   }
   .deal-des{
    font-size: 14px;
   }
   .deal-sec{
    text-align: center;
    margin-left: 45px;
   }
   .blom-card3{
    width: 361px;
    height: 184px;
   }
   .blom-card1{
    width: 361px;
    height: 184px;
   }
   .blom-card2{
    width: 361px;
    height: 184px;
   }
   .blom-title2{
    font-size: 1.25rem;
    margin-left: 10px;
   }
   .shop3 a{
    font-size: 1rem;
}
.shop3{
    margin-left: 60px;
}
.image-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 55px;
    margin-top: 20px;
}
/* main-fourth-section */

.contact input{
    width: 218px;
    height: 50px;
}
.contact .btn-primary{
    width: 130px;
    height: 70px;
    font-size: 1rem;
    font-weight: 400;
}
.sub{
    margin-left: -20px;
}
.contact-us{
    width: 468px;
    height: 275px;
}
.contact-title{
    font-size: 1.250rem;
}
footer{
    display: grid;
    grid-template-columns: repeat(1fr);
    margin-left: -100px;
}
.foot-an{
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-left: 50px;
    margin-top: -100px;
}
.logo-sec{
    margin-left: 50px;
}
.icon-sec{
    margin-left: 50px;
}
}